<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-02T10:11:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ksj/Desktop/02_Work/Projects/Pero/.omx/team/liquid-glass-migratio-1d791323/worktrees/worker-2/ios/Pero.xcodeproj</string>
</dict>
</plist>
