<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-03T08:43:25Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ksj/Desktop/02_Work/Projects/Pero/.omx/team/implement-pero-ios-ma-1d791323/worktrees/worker-3/ios/Pero.xcodeproj</string>
</dict>
</plist>
